body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}
/* HOMEPAGE */
main
{
    padding: 5px;
    width: 100%;
    height: 100vh;
    background: url('./img/alone.jpg');
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}
/* Titre de la homepage */
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}
.text
{
    position: relative;
    display: block;
    font-size: 10em;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: .84;
    color: #fff;
    text-shadow: 0 18px 5px rgba(0,0,0,.2);
    letter-spacing: -10px;
    transform: skewY(-5deg);
    box-shadow: 0 4px 0 rgba(0,0,0,.5), 0 -4px 0 rgba(0,0,0,.5);
}
.textblock1
{
    z-index: 3;
    background: #ff5c72;
}
.textblock1 span:hover
{
    font-size: 1.2em;    
    transition: .2s;
}
.textblock2
{
    z-index: 2;
    background: #c9ff4c;
}
.textblock2 span:hover
{
    font-size: 1.2em;    
    transition: .2s;
}
.textblock3
{
    z-index: 1;
    background: #e471ff;
}
.textblock3 span:hover
{
    font-size: 1.3em;    
    transition: .4s;
}
#main_title_h1
{
    font-family: 'Bowlby One SC', cursive;
    font-size: 48px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #fff;
}
#text_lead_homepage
{
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: center;
}
.block_quote
{
    position: absolute;
    top: 70%;
    right: 2%;
    width: 30%;
    height: 20%;
    text-align: justify;
}
#quote_text 
{
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    font-size: 26px;
}
#quote_author
{
    position: relative;
    color: #fff;
    float: right;
    top: 25%;
    font-family: 'Bowlby One SC', cursive;
    font-size: 20px;
}
/* Carré de navigation vers page about */
.toggle_down_about
{
    position: absolute;
    top: 97%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}
#toggle_down_link_about
{
    color: #000
}
#toggle_down_link_about:hover
{
    transform: scale(1.4);
    transition: .5s;
}
/*  MENU  */
.sidebar
{
    position: fixed;
    top: 0;
    left: -45%;
    width: 45%;
    height: 100%;
    background: rgba(0,0,0,.95);
    transition: .5s;
    z-index: 15;
}
.sidebar.active
{
    left: 0;
}
.toggle
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -80px;
    width: 80px;
    height: 80px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.toggle:before
{
    content: '';
    position: relative;
    left: -10px;
    width: 30px;
    height: 30px;
    border-top: 4px solid #000;
    border-right: 4px solid #000;
    transform: rotate(45deg);
    transition: .5s;
    z-index: 15;
}

.sidebar.active .toggle:before
{
    transform: rotate(225deg);
    left: 10px;
}
.sidebar ul
{
    margin: 0;
    padding: 0;
    transition: .5s;
    transform: translateX(-100%);
}
.sidebar.active ul
{
    transform: translateX(0);
    transition-delay: .2s;
}
.sidebar ul li
{
    list-style: none;
    font-family: 'Bowlby One SC', cursive;
}
.sidebar ul li a
{
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 38px;
    text-decoration: none;
    padding: 0 20px;
    z-index: 5;
    transition: .5s;
    text-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.sidebar ul li a:hover
{
    letter-spacing: 5px;
    transform: translateX(20px);
}
.sidebar ul li a:before
{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fd0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.sidebar ul li a:hover:before
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.6s;
}
/* Titre dans la sidebar */
.title_sidebar
{
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 30px;
}
/*  ABOUT */
#about
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#title_about
{
    padding: 0px;
    position: relative;
    top: -70px;
    width: 100%;
    height: 5vh;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#title_about_h1
{
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
/* Carré de navigation vers page formules */
.toggle_down_formules
{
    position: absolute;
    top: 197%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}
#toggle_down_link_formules
{
    color: #000
}
#toggle_down_link_formules:hover
{
    transform: scale(1.4);
    transition: .5s;
}
/*  LES FORMULES  */
#title_formules
{
    padding: 0px;
    position: relative;
    top: -70px;
    width: 100%;
    height: 5vh;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#title_formules_h1
{
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
/* Carré de navigation vers page login */
.toggle_down_login
{
    position: absolute;
    top: 296%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}
#toggle_down_link_login
{
    color: #000
}
#toggle_down_link_login:hover
{
    transform: scale(1.4);
    transition: .5s;
}
/* Les cartes des 3 formules */
section
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
}
.card
{
    position: relative;
    max-width: 300px;
    height: auto;
    background: linear-gradient(-45deg, #fe0847, #feae3f);
    border-radius: 15px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,.2);
    transition: .5s;
    overflow: hidden;
}
.card:hover
{
    transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card,
.col-sm-4:nth-child(1) .card .title > .fas
{
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title > .fas
{
    background: linear-gradient(-45deg, #ffec61, #f321d7);
    transform: scale(1.1);
}
.col-sm-4:nth-child(2) .card:hover
{
    transform: scale(1.2);
}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title > .fas
{
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
}
.card:before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(255,255,255,.1);
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
}
.title > .fas
{
    color: #fff;
    font-size: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}
.title h2
{
    position: relative;
    margin: 20px 0 0;
    padding: 0;
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    z-index: 2;
}
.price
{
    position: relative;
    z-index: 2;

}
.price h4
{
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
h4 > sup > .fas
{
    font-size: 70%;
}
h5
{
    color: #fff;
    padding: 0;
    margin: 10px auto;
    line-height: -10px;
    text-align: center;
    margin-top: -20px;
    font-size: 110%;
    font-style: italic;
}
.option
{
    position: relative;
    z-index: 2;

}
.option ul
{
    margin: 0;
    padding: 0;

}
.option ul li
{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.card a
{
    position: relative;
    z-index: 2;
    background: #fff;
    color: #026262;
    line-height: 40px;
    border-radius: 40px;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}
.card a:hover
{
    text-decoration: none;
}
/* INSCRIPTION */
#registration
{
    width: 100%;
    height: 105vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
    background: url('./img/alone.jpg');
    background-size: cover;
    filter: blur(4px);
    background-size: cover;
    background-attachment: fixed;
}
.form_registration
{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
}
#title_h1_registration
{
    position: relative;
    top: -90vh;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
.form_registration label
{
    color: #fff;
    letter-spacing: 1px;
    font-size: 18px;
}
#btn_submit_registration
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-10%);
    padding: 10px;
}
/* ESPACE LOGIN*/
#login
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
    background: url('./img/alone.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#title_login
{
    padding: 0px;
    position: relative;
    top: -70px;
    width: 100%;
    height: 5vh;
    z-index: 1;
}
#title_login_h1
{
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
/* Carré de navigation vers page contact */
.toggle_down_contact
{
    position: absolute;
    top: 396%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}
#toggle_down_link_contact
{
    color: #000
}
#toggle_down_link_contact:hover
{
    transform: scale(1.4);
    transition: .5s;
}
/* Formulaire de login */
#title_login_h4
{
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
#title_login_h4:hover
{
    text-decoration: none;
}
#container_login
{
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 450px;
    background: rgba(103,58,183,0.7);
}
#container_login .form_content,
#container_login .form_login
{
    position: relative;
    width: 50%;
    height: 550px;
    float: left;
    box-sizing: border-box;
}
#container_login .form_content
{
    padding: -5px 30px;
    color: #fff;
    text-align: justify;
}
#container_login .form_content a
{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #ff0057;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
#container_login .form_login
{
    background: #fff;
    height: 480px;
    left: 2.5%;
    top: -15px;
    box-shadow: -20px 0 15px rgba(0,0,0,.2);
    padding: 50px;
}
#container_login .form_login #title_h1_login
{
    color: #262626;
}
#container_login .form_login input
{
    display: block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    outline: none;
    font-size: 15px;
}
#container_login .form_login input:hover,
#container_login .form_login input:valid
{
    border: 2px solid #673ab7;
}
#container_login .form_login input[type="submit"]
{
    color: #fff;
    background: #673ab7;
    font-size: 16px;
    transition: .4s;
}
#container_login .form_login input[type="submit"]:hover
{
    background: #ff0057;
}
#container_login .form_login #link_login_forgot_pw
{
    text-decoration: none;
    font-weight: bold;
}
/* Fonctionnalité Se souvenir de moi */
.remember
{
    position: relative;
    top: 15px;
}
#remember_me
{
    margin-top: -20px;
    margin-left: 160px;
    transform: scale(1.4);
}
#remember_me_label
{
    color: #ff0057;
    margin-left: 0;
}
/* CONTACT */
#contact
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#title_contact
{
    padding: 0px;
    position: relative;
    top: -70px;
    width: 100%;
    height: 5vh;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#title_contact_h1
{
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
}
/* Formulaire de contact */
.box
{
    position: absolute;
    top: 450%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.box #form_contact_title
{
    margin: 0 0 40px;
    padding: 0;
    color: #f7497d;
    text-transform: uppercase;
}
.box input
{
    padding: 10px 0;
    margin-bottom: 30px;
}
.box textarea
{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.box input,
.box textarea
{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}
.box textarea
{
    margin-bottom: 20px;
}
.box input[type="submit"]
{
    border-bottom: none;
    cursor: pointer;
    background: #f7497d;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: 25px;
}
.box form div
{
    position: relative;
}
.box form div label
{
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label
{
    top: -12px;
    left: 0;
    color: #f7497d;
    font-size: 12px;
    font-weight: bold;
}
.box input:focus,
.box textarea:focus,
.box input:valid,
.box textarea:valid
{
    border-bottom: 2px solid #f7497d;
}
/* Carré de navigation vers page home */
.toggle_up
{
    position: absolute;
    top: 496%;
    transform: translateY(-50%);
    right: 0;
    width: 60px;
    height: 60px;
    background: rgb(255, 221, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5
}
#toggle_up_link_home
{
    color: #000
}
#toggle_up_link_home:hover
{
    transform: scale(1.4);
    transition: .5s;
}
/* SUSCRIBER */
#suscriber_page
{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 140px 0;
    background: rgb(7, 10, 14);
    z-index: 1;
}
#suscriber_title_h1
{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 2px;
}
/* Formulaire suscriber */
.suscriber
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.suscriber #form_contact_title
{
    margin: 0 0 40px;
    padding: 0;
    color: #f7497d;
    text-transform: uppercase;
}
.suscriber input
{
    padding: 10px 0;
    margin-bottom: 30px;
}
.suscriber input
{
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
}
.suscriber input[type="submit"]
{
    border-bottom: none;
    cursor: pointer;
    background: #f7497d;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    border-radius: 25px;
}
.suscriber form div
{
    position: relative;
}
.suscriber form div label
{
    position: absolute;
    top: -10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.suscriber input:focus ~ label,
.suscriber input:valid ~ label
{
    top: -12px;
    left: 0;
    color: #f7497d;
    font-size: 12px;
    font-weight: bold;
}
.suscriber input:focus,
.suscriber input:valid
{
    border-bottom: 2px solid #f7497d;
}
/* BLOG */
#title_blog_h1
{
    font-weight: bold;
    border-bottom: 1px solid rgb(56, 54, 54);
}
.nav_blog
{
    padding-bottom: 10px;
}