{% extends 'base.html.twig' %}


{% block title %}
    Accueil - {{ parent() }}
{% endblock title %}

{% block body  %}
    
    {% block header %}
        {{ parent() }}
    {% endblock header %}
<!-- HOMEPAGE -->
    <main id="home">
        <h1 id="main_title_h1">Ne restez plus seul dans le trading !</h1>
        <p class="lead" id="text_lead_homepage">Apprenez les techniques des professionnels</p>

        <div class="center">
            <div class="text textblock1"><span>School</span></div>
            <div class="text textblock2"><span>of</span></div>
            <div class="text textblock3"><span>Trading</span></div>
        </div>

        <div class="block_quote">
            <q id="quote_text">Le risque provient de ne pas savoir ce que l'on fait</q>
            <p id="quote_author">Warren Buffet</p>
        </div>

        <div class="toggle_down_about"><a href="#about" id="toggle_down_link_about"><i class="fas fa-arrow-down fa-2x"></i></a></div>
    </main>

<!-- ABOUT -->
    <div id="about">
        <div id="title_about">
            <h1 id="title_about_h1">A mon propos</h1>
        </div>
    </div> 
    <div class="toggle_down_formules"><a href="#section_formules" id="toggle_down_link_formules"><i class="fas fa-arrow-down fa-2x"></i></a></div>  
<!-- PAGE DES ABONNEMENTS -->
    <section id="section_formules">
        <div id="title_formules">
            <h1 id="title_formules_h1">Formules d'abonnements pour les analyses de marchés</h1>
        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fas fa-chess-rook"></i>
                                <h2>Les Indices</h2>
                                <div class="price">
                                    <h4><sup><i class="fas fa-euro-sign"></i></sup>20</h4>
                                    <h5>par mois</h5>
                                    <hr>
                                </div>
                                <div class="option">
                                    <ul>
                                        <li><i class="fas fa-check"></i><strong> CAC 40</strong></li>
                                        <li>L'indice parisien idéal pour débuter </li>
                                        <li><i class="fas fa-check"></i><strong> DAX 30</strong></li>
                                        <li>L'indice allemand pour + de volatilité </li>
                                    </ul>
                                </div>
                                <a href="#">Commandez</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fas fa-crown"></i>
                                <h2>Pack Complet</h2>
                                <div class="price">
                                    <h4><sup><i class="fas fa-euro-sign"></i></sup>40</h4>
                                    <h5>par mois</h5>
                                    <hr>
                                </div>
                                <div class="option">
                                    <ul>
                                        <li><i class="fas fa-check"></i> Les Indices Européens</li>
                                        <li><i class="fas fa-plus"></i></li>
                                        <li><i class="fas fa-check"></i> Les Paires du Forex</li>
                                    </ul>
                                </div>
                                <a href="#">Commandez</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card text-center">
                            <div class="title">
                                <i class="fas fa-chess-bishop"></i>
                                <h2>Le Forex</h2>
                                <div class="price">
                                    <h4><sup><i class="fas fa-euro-sign"></i></sup>25</h4>
                                    <h5>par mois</h5>
                                    <hr>
                                </div>
                                <div class="option">
                                    <ul>
                                        <li><i class="fas fa-check"></i> EUR/USD</li>
                                        <li><i class="fas fa-check"></i> GBP/USD</li>
                                        <li><i class="fas fa-check"></i> USD/JPY</li>
                                        <li><i class="fas fa-check"></i> USD/CAD</li>
                                    </ul>
                                </div>
                                <a href="#">Commandez</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="toggle_down_login"><a href="#login" id="toggle_down_link_login"><i class="fas fa-arrow-down fa-2x"></i></a></div>

<!-- ESPACE LOGIN -->
<div id="login">
        <div id="title_login">
            <h1 id="title_login_h1">Espace abonnés</h1>
        </div>
        <div class="container" id="container_login">
            <div class="form_content">
                <h2>Avertissement sur les risques</h2>
                <p>Trader le Forex et/ou les CFD’s implique un niveau de risque élevé, et peut ne pas être approprié car vous pouvez subir des pertes supérieures à votre dépôt. Vous devez être conscient et avoir une compréhension complète de tous les risques associés au marché des changes et au trading de produits dérivés. L'équipe "<strong>School Of Trading</strong>" peut être amenée à produire des commentaires d’ordre général qui ne constituent pas des conseils d'investissement et ne doivent pas être interprétés comme tels. Vous devez consulter un conseiller en investissement si vous estimez ne pas avoir les compétences nécessaires à choisir un produit d'investissement vous correspondant. L'équipe "<strong>School Of Trading</strong>" décline toutes responsabilités pour les erreurs, inexactitudes ou omissions et ne garantit pas l’exactitude et /ou le caractère complet des informations, textes, graphiques, liens ou autres éléments contenus dans cette documentation.</p>
                <a href="#">En savoir plus...</a>
            </div>
            <div class="form_login">
                <h1 id="title_h1_login">Connexion</h1>
               
                <form action="{{ path('security_login') }}" method="POST">
                    <input type="text" placeholder="Votre Pseudo" name="_username" required>
                    <input type="password" placeholder="Votre Mot De Passe" name="_password" required>
                    <input type="submit" name="submit" value="Se connecter">
                </form>
                <a href="#" id="link_login_forgot_pw">Mot de passe oublié</a>
                <div class="remember" >
                    <label for="remember_me" id="remember_me_label">Se souvenir de moi</label>
                    <input type="checkbox"  name="_remember_me" id="remember_me" />
                </div>
                
            </div>
            
        </div>
    </div>

    <div class="toggle_down_contact"><a href="#contact" id="toggle_down_link_contact"><i class="fas fa-arrow-down fa-2x"></i></a></div>

<!-- CONTACT -->
    <div id="contact">
        <div id="title_contact">
            <h1 id="title_contact_h1"> Contact</h1>
        </div>
    </div>
    <div class="box">
        <h2 id="form_contact_title">Laissez-moi un message</h2>
        <form action="" method="post">
            <div>
                <input type="text" name="name" required>
                <label for="name">Votre Nom</label>
            </div>
            <div>
                <input type="email" name="email" required>
                <label for="email">Votre Email</label>
            </div>
            <div>
                <input type="text" name="subject" required>
                <label for="name">Sujet</label>
            </div>
            <div>
                <textarea name="text" cols="30" rows="10" required></textarea>
                <label for="">Votre Message</label>
            </div>
            <input type="submit" value="Envoyer votre message">
        </form>
    </div>

    <div class="toggle_up"><a href="#home" id="toggle_up_link_home"><i class="fas fa-arrow-up fa-2x"></i></a></div>


{% endblock body %}